@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:400,500&display=swap');


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  align-items: center;
  background: $blue;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.glass {
  position: relative;
}

.glass_picture {
  
}

.glass__counter {
  color: #0B72B6;
  font-size: 112px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.glass__button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.glass__button {
  font-family: 'Roboto Mono', sans-serif;
}

.glass__button-add {
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0,0,0, 0.25);
  border-radius: 4px;
  border: none;
  font-size: 18px;
  min-width: 216px;
  min-height: 48px;
  margin-top: 48px;
  padding: 4px;
}

.glass__button-remove {
  background-color: transparent;
  border: none;
  color: $lightgray;
  font-size: 14px;
  font-weight: 500;
  min-width: 184px;
  min-height: 23px;
  margin-top: 37px;
}