@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:400,500&display=swap');


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  align-items: center;
  background: $violet;
  color: $yellow;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.glass {
  position: relative;
}

.glass__counter {
  color: #0B72B6;
  font-size: 112px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.glass__button-wrapper {
  display: flex;
  flex-direction: column;
}

